<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <title>[title] | {$site_name_cn}安全应急响应中心</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="description" content="{$site_name_cn}安全应急响应中心,{$site_name_en} Security Response Center">
        <meta name="keywords" content="{$site_name_cn},{$site_name_en},安全团队,应急响应,{$site_name_cn}安全应急响应中心,{$site_name_en} Security Response Center">
        <meta name="renderer" content="webkit">
        <meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=0.5, minimum-scale=0.5, user-scalable=no">
        <link rel="icon" href="__PUBLIC__/Index/images/logo.ico">
        <link rel="stylesheet" href="__PUBLIC__/Index/css/main.css">
        <!--[if (gte IE 6)&(lte IE 8)]>
        兼容 CSS3 选择器
        <script type="text/javascript" src="__PUBLIC__/Index/js/selectivizr.min.js"></script>
        兼容 media query
        <script type="text/javascript" src="__PUBLIC__/Index/js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="header">
            <div>
                <div class="logo">
                    <a href="__ROOT__">
                        <div class="logo_pic">
                        </div>
                        <div class="logo_name">
							<p>{$site_name_cn}安全应急响应中心</p>
                            <p>{$site_name_en} Security Response Center</p>
                        </div>
                    </a>
                </div>

                <div class="userpanel">
                    <div class="userpanel_line">
                        <div></div>
                    </div>
                    <div class="userpanel_user">
                        <img class="user_avatar mod-avatar-30" src="__PUBLIC__/Uploads/{:session('avatar')}" alt="">
                        <span class="user_username">{:session('username')}<if condition="session('mnum') eq 0"><else/><i class="i-header-message">{:session('mnum')}</i></if></span>
                        <i class="user_arrow"></i>
                        <div class="user_menu">
                            <ul class="menu_list">
                                <li class="list_item list_item-user">
                                    <a href="{:U('index/index')}">
                                        <i class="item_icon"></i>
                                        <span class="item_text">个人主页</span>
                                    </a>
                                </li>
                                <li class="list_item list_item-message">
                                    <a href="{:U('message/index')}">
                                        <i class="item_icon"></i>
                                        <span class="item_text">消息中心</span>
                                        <i class="item_icon-message">{:session('mnum')}</i>
                                    </a>
                                </li>
                                <li class="list_item list_item-account">
                                    <a href="{:U('info/index')}">
                                        <i class="item_icon"></i>
                                        <span class="item_text">账户设置</span>
                                    </a>
                                </li>
                                <li class="list_item list_item-logout">
                                    <a href="{:U('login/logout')}">
                                        <i class="item_icon"></i>
                                        <span class="item_text">注销</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="nav">
                    <ul>
                        <li class="[index_banner]"><a href="__ROOT__/index.php">首页</a></li>
                        <li class="[banner_selected]"><a href="{:U('post/add')}">提交漏洞</a></li>
                        <li class="[annoucment_banner]"><a href="__ROOT__/index.php?m=&c=page&a=index">公告</a></li>
						<li class="[blog_banner]"><a href="__ROOT__/index.php?m=&c=blog&a=index">博客</a></li>
						<li class="[hall_banner]"><a href="__ROOT__/index.php?m=&c=hall&a=index">贡献榜</a></li>
                        <li class="[gift_banner]"><a href="{:U('gift/index')}">礼品兑换</a></li>
                    </ul>
                </div>
            </div>
        </div>