<!DOCTYPE html>
<html class=" js no-touch csstransforms csstransforms3d svg" lang=""><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>[title]</title>
<meta name="description" content="">
<meta name="referrer" content="never">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="__STATIC__/app.min.css">
<link rel="stylesheet" href="__STATIC__/sweetalert.css">

<style type="text/css">.cf-hidden { display: none; } .cf-invisible { visibility: hidden; }</style>
</head>
<body class="wysihtml5-supported page-loaded" style="font-family:微软雅黑;">
 
<div class="pageload" style="display: none;">
<div class="pageload-inner">
<div class="sk-rotating-plane"></div>
</div>
</div>
 
<div class="app layout-fixed-header">
 
<div class="sidebar-panel offscreen-left ps-container ps-active-y" data-ps-id="4dd3008c-a74f-793d-e4fa-8a1e95729015">
<div class="brand">
 
<a href="{:U('about/index')}" class="toggle-apps hidden-xs">
<i id="icon_dynamic" class="icon-grid"></i>
</a>
 
 
<div class="toggle-offscreen">
<a href="javascript:;" class="visible-xs hamburger-icon" data-toggle="offscreen" data-move="ltr">
<span></span>
<span></span>
<span></span>
</a>
</div>
 
 
<a class="brand-logo">
<span>xSRC</span>
</a>
</div>
 
<nav role="navigation">
<ul class="nav">
 
<li>
<a href="{:U('index/index')}">
<i class="icon-compass"></i>
<span>控制台</span>
</a>
</li> 
 
<li class="[report_status] menu-accordion">
<a href="javascript:;">
<i class="icon-drop"></i>
<span>漏洞报告</span>
</a>
<ul class="sub-menu">
<li>
<a href="{:U('post/index?type=1')}">
<span style="color:[review_report_color];">报告审核</span>
</a>
</li>
<li>
<a href="{:U('post/index')}">
<span style="color:[report_color];">全部报告</span>
</a>
</li>
<li>
<a href="{:U('category/index')}">
<span style="color:[report_category_color];">漏洞分类</span>
</a>
</li>
</ul>
</li>
<li class="[links_status] menu-accordion">
<a href="javascript:;">
<i class="icon-bag"></i>
<span>礼品中心</span>
</a>
<ul class="sub-menu">
<li>
<a href="{:U('gifts/index')}">
<span style="color:[links_color]">礼品管理</span>
</a>
</li>
<li>
<a href="{:U('order/index')}">
<span style="color:[orders_color]">订单管理</span>
</a>
</li>
</ul>
</li>
<li class="[page_status] menu-accordion">
<a href="javascript:;">
<i class="icon-book-open"></i>
<span>博客公告</span>
</a>
<ul class="sub-menu">
<li>
<a href="{:U('page/index')}">
<span style="color:[page_color];">公告管理</span>
</a>
</li>
<li>
<a href="{:U('blog/index')}">
<span style="color:[blog_color];">博客管理</span>
</a>
</li>
</ul>
</li>

<li class="[users_status] menu-accordion">
<a href="javascript:;">
<i class="icon-users"></i>
<span>用户管理</span>
</a>
<ul class="sub-menu">
<li>
<a href="{:U('member/index')}">
<span style="color:[member_color]">前台用户</span>
</a>
</li>
<li>
<a href="{:U('manager/index')}">
<span style="color:[manager_color]">后台用户</span>
</a>
</li>
</ul>
</li>

  
<li class="[hall_status] menu-accordion">
<a href="javascript:;">
<i class="icon-trophy"></i>
<span>贡献管理</span>
</a>
<ul class="sub-menu">
<li>
<a href="{:U('hall/record')}">
<span style="color:[jifen_color];">积分日志</span>
</a>
</li>
</ul>
</li>

<li class="[setting_status] menu-accordion">
<a href="javascript:;">
<i class="icon-equalizer"></i>
<span>系统设置</span>
</a>
<ul class="sub-menu">
<li>
<a href="{:U('setting/index')}">
<span style="color:[setting_color]">基础配置</span>
</a>
<a href="{:U('setting/notify')}"><span style="color:[setting_notify_color]">通知设置</span></a>
</li>
</ul>
</li>
</ul>
</nav>
 
<div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 703px; right: 0px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 562px;"></div></div></div>
 
 
<div class="main-panel">
 
<div class="header navbar">
<div class="brand visible-xs">
 
<div class="toggle-offscreen">
<a href="javascript:;" class="hamburger-icon visible-xs" data-toggle="offscreen" data-move="ltr">
<span></span>
<span></span>
<span></span>
</a>
</div>
 
 
<a class="brand-logo">
<span>xSRC</span>
</a>
 
</div>

<ul class="nav navbar-nav navbar-right hidden-xs">
<li>
<ul class="dropdown-menu notifications">
<li class="notifications-header">
</li>
<li>
<ul class="notifications-list">
<li>
<a href="javascript:;">
<div class="notification-icon">
<div class="circle-icon bg-success text-white">
<i class="icon-bulb"></i>
</div>
</div>
</a>
</li>
<li>
<a href="javascript:;">
<div class="notification-icon">
<div class="circle-icon bg-danger text-white">
<i class="icon-cursor"></i>
</div>
</div>
</a>
</li>
<li>
<a href="javascript:;">
<div class="notification-icon">
<div class="circle-icon bg-primary text-white">
<i class="icon-basket"></i>
</div>
</div>
</a>
</li>
<li>
<a href="javascript:;">
<div class="notification-icon">
<div class="circle-icon bg-info text-white">
<i class="icon-bubble"></i>
</div>
</div>
</a>
</li>
<li>
<a href="javascript:;">
<span class="notification-icon">
<img src="__STATIC__/face3.jpg" class="avatar img-circle" alt="">
</span>
</a>
</li>
</ul>
</li>
</ul>
</li>
<li>
<a href="javascript:;" class="ripple" data-toggle="dropdown">
<img src="__STATIC__/avatar.jpg" class="header-avatar img-circle" alt="user" title="user">
<span>{:session('adminname')} </span>
<span class="caret"></span>
</a>
<ul class="dropdown-menu">
<li>
<a href="{:U('manager/update?id=')}{:session('adminId')}">个人设置</a>
</li>
<li>
<a href="https://support.qq.com/products/83106" target="_blank">建议反馈</a>
</li>
<li role="separator" class="divider"></li>
<li>
<a href="{:U('login/logout?token=')}{:session('token')}">退出</a>
</li>
</ul>
</li>
</ul>
</div>
 
 