 <!-- footer -->
        <div class="footer" style="bottom:0px;left:0px;">
            <div>
                <div class="footer_about">
                    <p class="about_link">
                        <a href="{$site_about}" target="_blank">关于{$site_name_cn}</a>
                        |
                        <a href="{$site_career}">加入我们</a>
                        |
                        <a href="__ROOT__/user.php?m=user&c=post&a=add">报告漏洞</a>
                    </p>
                    <p class="about_copyright">
                        <span>Copyright &copy; <php>echo date('Y');</php> {$site_copyright}. All Rights Reserved</span>
						<span>Powered by <a href="https://security.tencent.com/index.php/xsrc">Tencent xSRC</a></span>
                    </p>
                </div>

                <div class="footer_contact">
                    <a class="contact_icon-email" href="mailto:{$site_email}"><i></i><span>专用邮箱</span>|</a>
                    <a class="contact_icon-weixin mod-qrcode" href="">
                        <i></i><span>微信公众号</span>
                        <div class="qrcode">
                            <div class="qrcode_pic">
                                <img src="{$site_wechat}" alt="">
                            </div>
                            <span class="qrcode_text">扫一扫关注公众号</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <script src="__PUBLIC__/Index/js/jquery-1.7.2.min.js"></script>
        <script src="__PUBLIC__/Index/js/test.js"></script>
		<!--xSRC首页统计，正式运营可删除-->
		<script>
		   var _mtac = {};
		   (function() {
			   var mta = document.createElement("script");
			   mta.src = "//pingjs.qq.com/h5/stats.js?v2.0.4";
			   mta.setAttribute("name", "MTAH5");
			   mta.setAttribute("sid", "500696164");
			   var s = document.getElementsByTagName("script")[0];
			   s.parentNode.insertBefore(mta, s);
			})();
		</script>
		
		{$site_analytics|htmlspecialchars_decode}
		
    </body>
</html>